<p id="notice"><%= notice %></p>

<h1>Cools</h1>

<hr>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Honest</th>
      <th>Timeofday</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @cools.each do |cool| %>
      <tr>
        <td><%= cool.title %></td>
        <td><%= cool.body %></td>
        <td><%= cool.honest %></td>
        <td><%= cool.timeOfDay %></td>
        <td><%= link_to 'Show', cool %></td>
        <td><%= link_to 'Edit', edit_cool_path(cool) %></td>
        <td><%= link_to 'Destroy', cool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'New Cool', new_cool_path %>
